
/** 
动态生成内边距，外边距,圆弧角，高度，宽度
**/
@for $i from 10 through 50 {
    .padding-left-#{$i} {padding-left:#{$i}px};
    .padding-right-#{$i} {padding-right:#{$i}px};
    .padding-top-#{$i} {padding-top:#{$i}px};
    .padding-bottom-#{$i} {padding-bottom:#{$i}px};
    .margin-left-#{$i} {margin-left:#{$i}px};
    .margin-right-#{$i} {margin-right:#{$i}px};
    .margin-top-#{$i} {margin-top:#{$i}px};
    .margin-bottom-#{$i} {margin-bottom:#{$i}px};
    .width-#{$i} {
       width:#{$i}px
    };
    .height-#{$i} {
        height:#{$i}px
     };
}

.flex {
   display: flex;
}

.justifly-center {
   justify-content: center;
}

.align-items{
   align-items: center;
}

.flex-auto {
   flex:1
}

.flex-end {
   justify-content: flex-end;
}

.back{
   color:#000;
}

.test{
   background-color: aquamarine;
 }